* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  font-family: inherit;
}

body {
}

.navFlex {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
  align-items: center;
  max-width: 60%;
  margin-inline: auto;
}

.navLinks {
  display: flex;
  gap: 2rem;

  align-items: center;
}

p a {
  text-decoration: none;
  color: black;
  font-family: "Roboto";
}
#navbar {
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.containerNav button,
.belowNav button {
  background-color: rgba(25, 25, 25, 1);
  color: white;
  border-radius: 100px;
  padding: 8px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(25, 25, 25, 1);
  cursor: pointer;
}

.belowNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%;
  margin-inline: auto;
}

.itemsbelowNav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h2 {
  font-size: 106px;
}

.itemsbelowNav h3 {
  font-size: 24px;
}

.belowNavButton button {
  padding: 8px 20px;
  font-size: 20px;
  width: 213px;
}

.containerNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Assicurati che la navbar sia sopra gli altri contenuti */
}

article {
  margin-top: 2rem;
  border-bottom: 1px solid lightgrey;
}

.container {
  max-width: 60%;
  margin-inline: auto;
}

.trending {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trending h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #242424;
  line-height: 20px;
  font-family: "sohne", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-top: 1rem;
}

.profilo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fotoprofilo {
  gap: 1rem;
  display: flex;
}

.picture1 img {
  width: 25px;
  border-radius: 50%;
}

.numero p {
  font-size: 32px;
  color: lightgrey;
  font-weight: 900;
}

.autore {
  font-size: 13px;
  font-weight: 500;
  padding-top: 0.4rem;
}

p.articolo {
  font-weight: 900;
}

.data {
  color: grey;
  font-size: 13px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  width: 30%;
}

.picture2 img {
  width: 25px;
  border-radius: 25%;
}

.data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profilo2 {
  width: 100%;
}
.card2 {
  margin-bottom: 2rem;
}
.sottoArticolo {
  color: grey;
}

.data2 span {
  border-radius: 100px;
  border: solid 1px;
  background-color: lightgrey;
  padding: 2px 8px;
}

.sottodescription {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.data2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.data2 {
  color: grey;
  font-size: 13px;
}

.imgAside img {
  object-fit: cover;
  height: auto;
  width: 200px;
}

#nav {
  display: flex;
  align-items: center;
}

.buttonFooter {
  border: 1px solid #f2f2f2;
  background-color: white;
  color: #6b6b6b;
  border-radius: none;
}

.asideFooter {
  display: flex;
  padding-top: 3rem;
  padding-inline: 18%;
  justify-content: space-evenly;
  gap: 4rem;
}

footer {
  width: 60%;
}

.footerButtons {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-bottom: 1px solid lightgrey;
  gap: 0.5rem;
}

footer button {
  padding: 8px 16px;
  background-color: white;
  color: #6b6b6b;
  border-radius: 5px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #6b6b6b;
}

.links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
